.checkout h1{
    text-align:center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size:27PX;
}
.checkout h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size:19px;
}
.f1{
    font-size:20px;
    margin-top: 45px;

}